
h1 {
  color: #D2B48C;
  letter-spacing: 3px;
  text-align: center;
}

body {
  background-color: #fff;
  color: #D2B48C;
  max-width: 60em;
  margin: 0 auto;
  padding: 0 5%;
}
/* A link that has not been visited */
a:link {
    color: #99994d;
}
/* A link that has been visited */
a:visited {
    color: #99994d;
}
/* A link that is hovered on */
a:hover {
    color: #e6ac00;
}
/* A link that is selected */
a:active {
    color: #e6ac00;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D2B48C;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
} */
